extends blog-layout

block content
  .container-md
    // About Me section
    .section-about
      .row
        .col-md-6.offset-md-3.text-center
          h1 About Me
          p Welcome to my blog! My name is WIUT Student, and I'm passionate about travelling. I created this blog to share my thoughts and experiences, as well as to provide valuable information and insights to my readers. Whether you're new to travel or a seasoned expert, I hope you'll find something here that inspires you, challenges you, or helps you grow. So sit back, relax, and enjoy the content. And if you have any feedback or suggestions, feel free to reach out and let me know. Thanks for stopping by!

    // Why Read My Blog section
    .section-why-read
      .row
        .col-md-4
          .card
            .card-header.bg-info
              h3.card-title Discover gems
            .card-body
              p.card-text I am passionate about exploring off-the-beaten-path destinations and finding hidden gems that are often overlooked by mainstream travel guides. My blog offers tips  that will help you discover new and exciting places.
        .col-md-4
          .card
            .card-header.bg-info
              h3.card-title Save money
            .card-body
              p.card-text I believe that travel should be accessible to everyone, regardless of their budget. On my blog, you will find practical advice on how to save money on flights, accommodations, and activities, so you can travel more for less.
        .col-md-4
          .card
            .card-header.bg-info
              h3.card-title Learn cultures
            .card-body
              p.card-text One of the best things about travelling is learning about different cultures and ways of life. Through my blog, I share my experiences of immersing myself in new cultures, meeting locals, and trying new foods.

